@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&family=Seymour+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Itim&family=Poppins:wght@200;300;400&family=Russo+One&family=Seymour+One&display=swap');


*{
  padding: 0;
  margin: 0;
    box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
body{
  height: 2000px;
font-family: 'Itim', cursive;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

nav {
  background-color: #CD8CFF;
  font-family: 'Quicksand', sans-serif;
  overflow: hidden;
  position: fixed;
  width: 100%;
}

nav .logo{
  color: #fff;
  float: left;
  display: block;
  padding: 14px 16px;
}

nav ul li {
   color: #3C006B;
  float: right;
  text-decoration: none; 
  display: block;
  padding: 14px 16px;
}

nav ul li a{
  text-decoration:none;
  color: #3C006B; 
}

nav ul li a:hover{
  transition: 0.5s;
  background-color: #3C006B;
  color: #CD8CFF;
  padding: 15px;
  
}

section {
  background-size: cover;
}

section:nth-of-type(1){
  width: 100%;
  height: 500px;
  background-size: cover;
}

.d-block{
  width: auto;
  height: 500px;
}

section:nth-of-type(2){
  width:100%;
  min-height: 100vh;
  background-size: cover;
  background-color: #CD8CFF;
}
section:nth-of-type(3){
  width:100%;
  min-height: 100vh;
  background-size: cover;
  background-color: #3C006B;
}
section:nth-of-type(4){
  width:100%;
  min-height: 100vh;
  background-size: cover;
  background-color: #8C98FF;
}

.box{
 display: flex;
  width: 930px;
  padding: 250px;
}

.contato-box {
  background-color: rgba(60, 0, 107, 0.7);
  width: 50%;
  display: flex;
  align-items: center;
  padding: 20px;
  border-radius: 20px 0 0 20px;
  
}

.contato-box h2{
 position: relative;
   font-size: 30px;
  color: #fff;
  padding: 50px;
}
.contato-box p{
  position: relative;
 top: 20px;
  right: 220px;
  margin-top: 25px;
  padding: 30px 20px;
  color: #fff;
  font-size: 20px;
  
}

.form-box {
  background-color: rgba(60, 0, 107, 0.45);
  backdrop-filter: 40px;
  padding: 30px 40px;
  width: 50%;
  border-radius: 0px 20px 20px 0px;
}

.form-box h2{
  font-size: 30px;
  color: #fff;
}
.form-box form{
  margin: 20px 0;  
}

form .input-group{
  margin-bottom: 15px;
}
form .input-group label{
  color: #fff;
  display: block;
  margin-bottom: 7px;
}
form .input-group input{
  width: 100%;
  height: 47px;
  background-color: rgba (255, 255, 255, 0.32);
  border-radius: 20px;
  outline: none;
  border: 2px solid transparent;
  padding: 15px;
  font-size: 15px;
  color: #616161;
  transition: all 0.4s ease; 
}
form .input-group input:focus{
  border-color: #ff008869;
}

form .input-group button{
  width: 100%;
  height: 47px;
  background: #FDFFB0;
  border-radius: 20px;
  outline: none;
  border: none;
  margin-top: 15px;
  color: #6853BC;
  cursor: pointer;
  font-size: 16px;
}

.card-img {
 width: 100px;
  height: 250px;
}


/*
.container {
width: 100vw;
height: 100vh;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
}

.box {
  display: flex;
  
 width: 930px;
height: 400px;
background: rgba(60, 0, 107, 0.45);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 32px;
}

.contato-box{
width: 350px;
height: 400px;
background: rgba(60, 0, 107, 0.45);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 32px 0px 0px 32px;
}

/*
.button {
  margin-top: 15px;
  width: 100px;
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 5px 20px 30px 20px;
}
*/
